:root {
  --color-primary: #312463;
  --color-primary-light: ;
  --color-secondary: #e80970;
  --color-neutral: #565656;

/* body copy */
  --font-primary: "Crimson Text", serif;
  /* headings */
  --font-secondary: "Dosis", sans-serif;
}

html {
  font-family: var(--font-primary);
}
