.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
